#quoteDisplay{
	background: white;
	max-width: 700px;
	line-height: 30px;
	min-width: 350px;
	text-align: center;
	border: 5px solid brown;
	color: brown;
	font-size: 25px;
	margin:auto;
}

#quote{
	margin:20px;
	font-size:25px;
}

#newQuote{
	text-transform: uppercase;
	color:brown;
	margin:20px;
}

